body {
	background-color: orange;
}
.purple {
	background-color: purple;
}
#black {
	background-color: black;
}
section {
	text-align: center;
}
#white {
	background-color: white;
}
.yellow {
	background-color: brown;
}
#yellow {
	background-color: aqua;
}